<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
        <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/main.css" />
        <link rel="icon" type="image/x-icon" href="/{{ THEME_STATIC_DIR }}/images/icon.svg" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="main">
            {% include 'parts/sidebar.part.html' %}
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% include 'parts/footer.part.html' %}
    </body>
</html>
